li:first-child{                             /* Number 1 */
    color: red;
}

li:nth-child(even){                         /* Number 3 */
    background-color: blue;
}

li:nth-child(5){                            /* Number 5 */
    color: orange;
}

li:first-child:nth-last-child(n+8),
li:first-child:nth-last-child(n+8) ~ li {   /* Number 7 */
    color: white;
    background-color: green;
    padding: 10px;
    border: 1px solid white;
}